<template>
  <div id="viewer" ref="viewer"></div>
</template>

<script>
import WebViewer from '@pdftron/webviewer'
export default {
  name: 'WebViewer',
  props: {path: String, url: String},
  mounted: function () {
    WebViewer({
        path: this.path,
        initialDoc: this.url,
      },
      this.$refs.viewer).then((instance) => {
      console.log("DONE")
    });
  }
}
</script>

<style scoped>
div { width: 100%; height: 100vh; }
</style>
