<template>
  <div id="q-app">
    <WebViewer path="lib" url="https://pdftron.s3.amazonaws.com/downloads/pl/webviewer-demo.pdf"/>
    <router-view/>
  </div>
</template>
<script>
import WebViewer from './components/WebViewer.vue'

export default {
  name: 'app',
  components: {WebViewer},
}
</script>
